<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


            <!-- Bootstrap Core CSS -->
            <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
            <!-- jQuery -->
            <script src="../javascripts/jquery.js"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="../javascripts/bootstrap.min.js"></script>

    <title>글작성</title>

    <style>

    @font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }
    html body {
        height: 100%;
        font-family: 'GmarketSansLight';
    }
    </style>

  </head>
  <body>

  <br>


  <!-- Navigation -->
  <nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">중국어암기왕</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                          <li>
                              <a href="/admin/showWriteSpeechPage">글작성</a>
                          </li>
                          <li>
                              <a href="/admin/showReadSpeechPage">글관리</a>
                          </li>
                          <li>
                              <a href="/admin/showWriteSpeechPage">미정</a>
                          </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>




    <div class="container">
      <h2>문장개요 작성하기</h2>
    <form>

      <div class="form-group">
        <input type="text" class="form-control" id="code"  placeholder="코드">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="title"  placeholder="제목">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="description"  placeholder="설명">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="type"  placeholder="장르">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="level"  placeholder="레벨">
      </div>

      <div class="form-group">
        <!-- <input type="text" class="form-control" id="image"  placeholder="이미지"> -->
          <form enctype="multipart/form-data" id = "imageform">
            <input type="file" class="form-control-file" id="fileupload" name="fileupload">
         </form>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="tag"  placeholder="#태그, #태그...">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="speech_count"  placeholder="전체 문장개수">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="runing_time"  placeholder="전체 러닝 타임">
      </div>

      <button type="button" class="btn btn-primary" id="saveBtn">작성</button>
    </form>

    </div>


    <hr>



    <script>
      $(document).ready(function(){
         //저장버튼 클릭
         $(document).on('click', '#saveBtn', function () {

        //파일업로드 사진 유무 확인
        var fileupload = $("#fileupload").val();      
        console.log("file : " + fileupload);
        if(fileupload == null || fileupload == undefined || fileupload == ''){
            alert("사진을 확인해주세요.");
        }else{
            saveImage();
        }  
           });
      });


//이미지 저장
function saveImage() {


var formData = new FormData();
formData.append('fileupload', document.getElementById('fileupload').files[0]);

$.ajax({
    url: '/admin/saveimage',
    type: "POST",
    processData: false,
    contentType: false,
    data: formData,
    async : false,
    success: function (data) {
        if (data['result'] == 'success') {
            console.log('사진업로드!성공!');
            var imagepath = data['path'];
            
            //이미지 패스 넘겨주기
            saveContent(imagepath);
        }
    },
    error: function (jqXHR, textStatus, err) {
        //show error message
        alert('죄송합니다. 작업중 오류가 발생했습니다.' + "상태 : " + textStatus + ', 에러 : ' + err);
    }
});
}



    //데이터 저장
    function saveContent(imagepath) {

            var code = $("#code").val();                                        //코드  pk
            var title = $("#title").val();                                      //제목
            var description = $("#description").val();                          //설명
            var type = $("#type").val();                                        //장르 
            var level = $("#level").val();                                      //레벨
            var image = imagepath;                                              //이미지 경로
            var tag = $("#tag").val();                                          //태그
            var speech_count = $("#speech_count").val();                        //총 문장 개수
            var runing_time = $("#runing_time").val();                         //러닝 타임

            //서버로 전송 - /admin.js
            $.ajax({
                url: '/admin/saveWriteSpeech',
                dataType: 'json',
                type: 'post',
                data: {
                  code: code,
                  title: title,
                  description: description,
                  type: type,
                  level: level,
                  image: image,
                  tag: tag,
                  speech_count: speech_count,
                  runing_time:runing_time
                },
                success: function (data) {
                    if (data['result'] == 'success') {
                        alert(data['tocken']);
                        location.reload();
                    }else if(data['result'] == 'fail'){
                        alert(data['tocken']);
                    }
                },
                error: function (jqXHR, textStatus, err) {
                    //show error message
                    alert('죄송합니다. 작업중 오류가 발생했습니다. ' + "상태 : " + textStatus + ', error : ' + err);
                }
            });

      
    }

    </script>



  </body>
</html>